p {
  margin-top: 0;
  margin-bottom: 0;
}

.blog-unit {
  display: grid;
  grid-template-columns: 3fr 2fr;
  cursor: pointer;
  color: black;
}

.blog-unit:hover {
  opacity: 0.6;
}

.blogs {
  color: black;
  display: grid;
  margin-top: 60px;
  grid-template-columns: 1fr 900px 1fr;
}

.blogs-middle {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 38px;
}

.cover {
  width: 100%;
}

.blog-left {
  font-family: Merriweather Sans, Arial;
}

.title {
  font-size: 30px;
  margin-bottom: 8px;
}

.date {
  font-size: 14px;
}

.cover {
  border-radius: 6px;
}
