body {
    background-color: #ffffff;
    margin: 0;
  }
  
  p {
    margin: 0;
  }
  
  a {
    text-decoration: none;
    color:black;
  }
  
  
  .header {
    display: flex;
    /* width: 100%; */
    height: 81px;
    align-items: center;
    align-items: space-between;
    /* margin-top: 28px; */
    /* margin-bottom: 100px; */
    margin-left: 146px;
    margin-right: 146px;
    font-size: 22px;
    justify-content: space-between;
  }
  
  .home {
    color: black;
    font-size: 28px;
    cursor: pointer;
    font-weight: 700;
    font-family: Merriweather Sans, Arial;
  }
  
  .home:hover {
    color: black;
  }
  
  .left-header {
    display: flex;
  }
  
  .navigation {
    display: flex;
    align-items: center;
    align-items: space-between;
    width: 250px;
    justify-content: center;
    justify-content: space-between;
    flex-shrink: 0;
    font-weight: 400;
    font-family: NB International, Arial;
  }
  
  .blog, .project, .about {
    cursor: pointer;
  }
  
  .right-header {
    width: 60px;
  }
  
  /* The switch - the box around the slider */
  .switch {
    --width-of-switch: 3.5em;
    --height-of-switch: 2em;
    /* size of sliding icon -- sun and moon */
    --size-of-icon: 1.4em;
    /* it is like a inline-padding of switch */
    --slider-offset: 0.3em;
    position: relative;
    width: var(--width-of-switch);
    height: var(--height-of-switch);
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    height: 28px;
    width: 60px;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f4f4f5;
    transition: .4s;
    border-radius: 30px;
    margin-top: -2px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: var(--size-of-icon,1.4em);
    width: var(--size-of-icon,1.4em);
    border-radius: 20px;
    left: var(--slider-offset,0.3em);
    top: 50%;
    transform: translateY(-50%);
    background: linear-gradient(40deg,#ff0080,#ff8c00 70%);
    ;
   transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #303136;
  }
  
  input:checked + .slider:before {
    left: calc(100% - (var(--size-of-icon,1.4em) + var(--slider-offset,0.3em)));
    background: #303136;
    /* change the value of second inset in box-shadow to change the angle and direction of the moon  */
    box-shadow: inset -3px -2px 5px -2px #8983f7, inset -10px -4px 0 0 #a3dafb;
  }
  
  .bottom {
    display: grid;
    grid-template-columns: 1fr 394.56px 1fr;
    margin-top: 120px;
  }
  
  .bottom-middle {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 16px;
  }
  
  .icon {
    height: 100%;
    cursor: pointer;
    /* margin: 0 auto; */
  }
  
  .icon:hover {
    opacity: 0.8;
  }
  
  
  
  .personal-link {
    width: 230px;
    height: 32px;
    display: flex;
    margin: 0 auto;
    justify-content: center; 
    justify-content: space-between;
  }
  
  .icon-div {
    text-align: center;
    flex: 1;
  }
  
  
  .copyright {
    font-family: Merriweather Sans, Arial;
    font-size: 18px;
    display: inline-block;
    color: black;
    text-decoration: none;
    text-align: center;
  }

  .empty {
    flex: 1;
  }

  .record {
    color: black;
  }

  .record:hover {
    opacity: 0.6;
  }